@model CanteenManagemenWebApp.Models.Statistics

@{
    ViewBag.Title = "Details";
}

<h2>Statistics</h2>

<fieldset>
    <legend>Statistics</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TotalNumberOfUsers)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TotalNumberOfUsers)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TotalNumberOfOrders)
    </div>


    <div class="display-field">
        @Html.DisplayFor(model => model.TotalNumberOfOrders)
    </div>
     <div class="display-label">
         @Html.DisplayNameFor(model => model.TotalSalesToday)
    </div>
     <div class="display-field">
        @Html.DisplayFor(model => model.TotalSalesToday)
    </div>
     <div class="display-label">
         @Html.DisplayNameFor(model => model.TotalSalesThisMonth)
    </div>
     <div class="display-field">
        @Html.DisplayFor(model => model.TotalSalesThisMonth)
    </div>

</fieldset>
