@model CanteenManagemenWebApp.Models.OrderDTO


@{
    ViewBag.Title = "Edit";
}

<h2>View</h2>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Order</legend>

        @Html.HiddenFor(model => model.OrderId)

        <div class="editor-label">
            @Html.LabelFor(model => model.DateCreated)
        </div>
        <div class="editor-field">
            @Html.DisplayFor(model => model.DateCreated)
            @Html.ValidationMessageFor(model => model.DateCreated)
        </div>
        @if(Model.IsConfirmed){
        <div class="editor-label">
            @Html.LabelFor(model => model.DateConfirmed)
        </div>
        <div class="editor-field">
            @Html.DisplayFor(model => model.DateConfirmed)
            @Html.ValidationMessageFor(model => model.DateConfirmed)
        </div>}

        @if(Model.IsDelivered){
        <div class="editor-label">
            @Html.LabelFor(model => model.DateDelivered)
        </div>
        <div class="editor-field">
            @Html.DisplayFor(model => model.DateDelivered)
            @Html.ValidationMessageFor(model => model.DateDelivered)
        </div>}
        <div class="editor-label">
            @Html.LabelFor(model => model.IsConfirmed)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.IsConfirmed)
            @Html.ValidationMessageFor(model => model.IsConfirmed)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.IsDelivered)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.IsDelivered)
            @Html.ValidationMessageFor(model => model.IsDelivered)
        </div>

        <div>
            <table>
                <tr>
                    <td>
                        @foreach (var item in Model.OrderItems)
                        {   
                            @Html.DisplayFor(model => item.MenuItem.Name) 
                            @Html.DisplayFor(model => item.Quantity) 
                            <img src="@item.MenuItem.ImageUrl" height="50px"/>
                        }
                    </td>
                </tr>
            </table>
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "IndexEmployee")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
