@model IEnumerable<CanteenManagemenWebApp.Models.OrderDTO>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DateCreated)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateDelivered)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateConfirmed)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsConfirmed)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsDelivered)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrderItems)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DateCreated)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateDelivered)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateConfirmed)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsConfirmed)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsDelivered)
        </td>
        <td>
           @foreach (var i in item.OrderItems) { 
            <img src="@i.MenuItem.ImageUrl" height="20px" style="margin:5px" />
           }
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.OrderId }) |
            @Html.ActionLink("Details", "Details", new { id=item.OrderId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.OrderId })
        </td>
    </tr>
}

</table>
