@model CanteenManagemenWebApp.Models.RetrievePasswordModel
@{
    ViewBag.Title = "Retrieve Password";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <fieldset>
        <legend>Retrieve Password</legend>
        <ol>
            <li>
                @Html.LabelFor(m => m.UserName)
                @Html.TextBoxFor(m => m.UserName)
            </li>
            <li>
                @Model.SuccessMessage
            </li>
        </ol>
        <input type="submit" value="Retrieve password" />
    </fieldset>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
